.logo img {
    width: 160px;
}

.sec {
    height: 50vh;
    margin: 100px;
    padding: 100px;

}

.lg01 {
    background: linear-gradient(red, blue);
}

.lg02 {
    background: linear-gradient(to left, red, blue);
}

.lg03 {
    background: linear-gradient(transparent 30%, blue 40%, green);
}

.lg04 {
    position: relative;
    background: url(../img/img.jpg);
}

.lg04::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(transparent, #333);
}

.lg05 {
    position: relative;
    background: url(../img/img.jpg);
}

.lg05::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: url(../img/pattern03.png);
    opacity: 0.2;
}